/* src/components/ChatApp.css */

.chat-app {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 99%;
    margin: auto;
    border: 1px solid #424242;
    border-radius: 8px;
    background-color: #212121;
  }
  .chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .loader{
    width: 40px;
    overflow: wrap;
    background-color: #eaeaea;
    color: #333;
    align-self: flex-start;
    
  }
  
  .messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #424242;
  }
  
  .input-container input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #424242;
    border-radius: 4px;
    margin-right: 8px;
    background-color: #424242;
    color: white;
  }
  
  .input-container button {
    padding: 8px 12px;
    background-color: #F7B930;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #005a9e;
  }