/* src/components/Sidebar.css */

.sidebar {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #171717;
    padding: 20px;
    border-right: 1px solid #424242;
  }
  
  .sidebar h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: white;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
  }
  
  .sidebar li {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
    border-bottom: 0.5px solid #ddd;

  }
  
  .sidebar li.selected {
    background-color: #F7B930;
    color: white;
  }
  
  .sidebar li:hover {
    background-color: #ddd;
  }

  .sidebarWarnings{
    color: #ddd;
    font-size: 12px;
  }
